<h2>New Booking</h2>

<p>A new booking has been created:
<tbody>
  <tr>
    <td><%= @booking.user.first_name %> <%= @booking.user.last_name %></td>
    <td><%= @booking.user.business %>
    <td><%= @booking.user.email %></td>
    <td><%= @booking.date %></td>
    <td>✌️</td>
  </tr>
</tbody>
