<div class="m-3">
  <h2>Welcome back <%= current_user.first_name %>!</h2>
  <div class="d-flex">
    <div class="dashboard-left">
      <div class="user-balance-card">
        Account Balance
        <% if current_user.credit_balance == nil %>
          <h3><%= 0 %></h3>
        <% else %>
          <h3><%= current_user.credit_balance %></h3>
        <% end %>
        Days
        <%= link_to "Book", root_path, class: 'btn-ghost' %>
      </div>
      <div>
        <div class="calendar-container">
          <h3>Check Availability</h3>
          <%= month_calendar(desks: @all, class:"table") do |date, desks| %>
            <%= date.day %>
            <div style="max-height: 50px; overflow: hidden;">
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="dashboard-right">
      <div class="bookings-card">
        <h3>Upcoming bookings</h3>
      </div>
      <div class="bookings-card">
        <h3>Completed bookings</h3>
      </div>
    </div>
  </div>
</div>
