<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
    <title>kinda.works</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $('.table-striped').removeClass('table-striped');
      });
    </script>

    <%= yield %>

    <div class="flash-messages">
      <% flash.each do |type, message| %>
        <% flash_class = case type.to_sym
          when :notice then "flash-success"
          when :alert then "flash-danger"
          else "flash-warning"
        end %>
        <div class="flash <%=flash_class%> alert alert-dismissible fade show" role="alert">
          <%= message %>
          <a data-bs-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
          </a>
        </div>
      <% end %>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>
